HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeModified1,toBeModified2,toBeModified3,toBeModified4
API_TOKEN_SALT=toBeModified
ADMIN_JWT_SECRET=toBeModified
TRANSFER_TOKEN_SALT=toBeModified
JWT_SECRET=toBeModified
ENCRYPTION_KEY=toBeModified
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5437
DATABASE_NAME=ukish_strapi
DATABASE_USERNAME=ukish
DATABASE_PASSWORD=ukish_password
DATABASE_SSL=false
